<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>消息列表</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/list.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h1>最新消息</h1>
      <ul>
        <li>
          <a href="{{ url_for('news_detail') }}?news_id=1">消息 1</a>
        </li>
        <li>
          <a href="{{ url_for('news_detail') }}?news_id=2">消息 2</a>
        </li>
        <li>
          <a href="{{ url_for('news_detail') }}?news_id=3">消息 3</a>
        </li>
      </ul>
    </div>
  </body>
</html>
