<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>消息列表</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='/css/list.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h1>文章列表</h1>
      <ul>
        <li>
          <a href="{{ url_for('article_detail', article_id=1) }}">文章1</a>
        </li>
        <li>
          <a href="{{ url_for('article_detail', article_id=2) }}">文章2</a>
        </li>
        <li>
          <a href="{{ url_for('article_detail', article_id=3) }}">文章3</a>
        </li>
      </ul>
    </div>
  </body>
</html>
